/*最外层容易，所有css都定义在此class之下*/
.seal-main {
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
.seal-main * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.seal-main a {
  text-decoration: none;
}
.seal-main input,
.seal-main select,
.seal-main textarea {
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 1.4;
}
.seal-main {
  width: 100%;
  height: 100%;
  min-height: 500px;
  min-width: 800px;
  overflow: hidden;
  background: url(images/bg.png) 0 0;
  background-size: 10px 10px;
}
/*cover*/
.seal-cover {
  width: 100%;
  height: 100%;
  background: #ffffff url(images/talk.png) no-repeat 0 center;
  background-size: 100% auto;
}
/*表单*/
.seal-form-text input {
  width: 100%;
  height: 24px;
  padding: 6px 0;
  text-indent: 12px;
  font-size: 14px;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-radius: 4px;
  outline: 0;
}
.seal-btn {
  display: inline-block;
  line-height: 38px;
  color: #fff;
  height: 36px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #0085d4;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(50, 50, 50, 0.05);
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.seal-form-submit .seal-btn {
  width: 100%;
  font-size: 16px;
}
.seal-getpassword-btn {
  text-align: right;
  padding: 10px 0;
}
.seal-getpassword-btn a {
  color: #a5dbff;
  font-size: 12px;
}
.seal-form-err {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  background: #ff7f7f;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 8px 0;
}
.seal-title {
  height: 55px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
}
.seal-title a {
  font-size: 16px;
  color: #09f;
  margin-top: -50px;
}
.seal-title-btnleft {
  float: left;
  margin-left: 20px;
}
.seal-title-btnleft:before {
  content: "< ";
}
.seal-title-btnright {
  float: right;
  margin-right: 20px;
}
.seal-panel-main .seal-title {
  position: absolute;
  left: 0;
  top: 0;
}
/*登录页*/
.seal-name {
  padding: 20px 0;
  margin-bottom: 4em;
  -moz-user-select: none;
  /*火狐*/

  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.seal-name h1 {
  text-indent: -9999px;
  background: url(images/logo.png) no-repeat 0 0;
  background-size: 100% 100%;
  height: 52px;
  width: 160px;
}
.seal-info {
  -moz-user-select: none;
  /*火狐*/

  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin-top: 4em;
  color: #fff;
  text-align: center;
}
.seal-info a {
  color: #fff;
}
.seal-info span {
  margin: 0 2em;
}
.seal-sign {
  max-width: 800px;
  margin: 0 auto;
}
.seal-signs {
  padding-left: 2px;
}
.seal-signs a {
  display: inline-block;
  font-size: 16px;
  color: #a5dbff;
  width: 60px;
  line-height: 30px;
  float: left;
}
.seal-signs a.seal-sign-current {
  color: #fff;
}
.seal-signs a.seal-sign-current:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #fff;
  margin-left: 10px;
}
.seal-sign-form {
  position: relative;
  min-height: 400px;
  padding-left: 400px;
  width: 280px;
}
.seal-sign-form:before {
  content: " ";
  display: block;
  width: 360px;
  height: 333px;
  background: url(images/sign-bg.png);
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.seal-sign-verifycode input {
  width: 170px;
  background-color: #faffbd;
  color: #000000;
}
.seal-sign-verifycode a {
  width: 100px;
  float: right;
}
/*找回密码*/
.seal-getpassword {
  width: 320px;
  margin: 0 auto 50px;
}
.seal-getpassword h2 {
  font-size: 17px;
  line-height: 1.6;
  padding-bottom: 10px;
  color: #fff;
}
.seal-getpassword .seal-sign-verifycode input {
  width: 210px;
}
.seal-tips {
  color: #f5f5f5;
  line-height: 2;
}
/*会话*/
.seal-conversation-main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 70px;
}
.seal-nav {
  width: 70px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.seal-nav-item {
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 15px 0;
}
.seal-nav-item a {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 0;
  margin: 0 auto;
}
.seal-nav-item:hover {
  background: rgba(55, 55, 55, 0.1);
}
.seal-panel {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 315px;
  position: relative;
}
.seal-panel-sider {
  height: 100%;
  width: 315px;
  box-sizing: border-box;
  padding-top: 56px;
  background-color: #f4f8fc;
  position: absolute;
  left: 0;
  top: 0;
}
.seal-panel-main {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-top: 56px;
}
.seal-nav-account {
  text-align: center;
}
.seal-nav-account img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.seal-nav-members a {
  background: url(images/icons.png) 0 -47px;
  background-size: 120px auto;
}
.seal-nav-members:hover a {
  background-position: -72px -47px;
}
.seal-nav-add {
  position: absolute;
  bottom: 20px;
}
.seal-nav-add a {
  background: url(images/icons.png) 5px -90px;
  background-size: 120px auto;
}
.seal-nav-conversation a {
  background: url(images/icons.png) 0 0;
  background-size: 120px auto;
}
.seal-nav-conversation:hover a {
  background-position: -72px 0;
}
.seal-search {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e9f0;
}
.seal-search input {
  border: none;
  width: 100%;
  height: 35px;
  text-indent: 2.7em;
  background: #ffffff url(images/icons.png) no-repeat 10px -110px;
  background-size: 108px auto;
}
.seal-conversation-item {
  cursor: pointer;
  padding: 14px;
  border-bottom: 1px solid #e1e9f0;
  background-color: #f4f8fc;
}
.seal-conversation-item:hover {
  background-color: #ebf2f7;
}
.seal-conversation-item .badge{
  float: right;
  padding: 0px 5px;
  background-color:red;
  font-weight:normal;
  color: #fff;
  border-radius: 10px;
}
.seal-conversation-item:hover .remove {
  display: block;
}
.seal-conversation-item .remove {
  float: right;
  padding: 0px 5px;
  background-color:orange;
  font-weight:normal;
  color: #fff;
  border-radius: 10px;
  margin-left: 5px;
  display: none;
}
.seal-conversation-avatar {
  float: left;
  padding-right: 14px;
}
.seal-conversation-avatar img {
  width: 55px;
  height: 55px;
  border-radius: 50% 50%;
}
.seal-conversation-name {
  font-weight: 700;
  color: #000;
}
.seal-conversation-msg {
  color: #8e969f;
  font-size: 14px;
}
.seal-conversation-list {
  height: 100%;
  overflow: auto;
}
.seal-conversation-list .seal-conversation-time {
  float: right;
  margin-top: -22px;
  color: #8e969f;
}
.seal-conversation-msg-list {
  background: #f9fbfd;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2em;
  overflow: auto;
}
.seal-conversation-msg-older {
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  height: 10px;
}
.seal-conversation-msg-older a {
  font-size: 12px;
  color: #8e969f;
  /*background-color: #f9fbfd;*/

  /*display: inline-block;*/

}
.seal-conversation-msg-older:hover a {
  color: #0099ff;
}
.seal-conversation-time {
  text-align: center;
  font-size: 12px;
  color: #8e969f;
  transform: scale(0.9, 0.9);
}
.seal-conversation-msg-item {
  clear: both;
  padding: 1em 0;
}
.seal-conversation-msg-list .seal-conversation-msg {
  margin-top: 1em;
}
.seal-msg-box {
  height: 150px;
  box-sizing: border-box;
  padding-right: 60px;
  position: relative;
  background: #fff;
}
.seal-msg-tools {
  border-top: 1px solid #f5f5f5;
  padding: 12px 24px;
  font-size: 0;
}
.seal-msg-tools a {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-image: url(images/icons.png);
  background-repeat: no-repeat;
  background-size: 100px auto;
}
.seal-msg-emoji {
  background-position: 0 -188px;
}
.seal-msg-emoji:hover {
  background-position: -60px -188px;
}
.seal-msg-image {
  background-position: 0 -641px;
}
.seal-msg-image:hover {
  background-position: -60px -641px;
}
.seal-msg-file {
  background-position: 0 -546px;
}
.seal-msg-file:hover {
  background-position: -60px -546px;
}
.seal-msg-content {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  /*outline:1px solid #09f;*/

  outline: none;
  overflow: auto;
}
.seal-msg-send {
  position: absolute;
  right: 15px;
  top: 80px;
}
.seal-msg-send a {
  color: #c3c3c3;
  font-size: 16px;
  line-height: 24px;
}
.seal-msg-send a:hover {
  color: #09f;
}
/*好友*/
.seal-member-type {
  background: #e9f0f8;
  height: 36px;
}
.seal-member-type h2 {
  font-size: 14px;
  line-height: 36px;
  padding-left: 20px;
}

.seal-member-item {
  cursor: pointer;
  margin: 0 0 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e1e9f0;
  clear: both;
}

.seal-member-item:hover {
  background: rgba(55, 55, 55, 0.1);
}

.seal-member-avatar {
  float: left;
  padding-right: 14px;
}
.seal-member-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50% 50%;
}

.seal-member-name {
  display: inline-block;
  line-height: 35px;
}
/*notification*/
.seal-system-notify {
  background: url(images/notify.png) no-repeat;
  background-size: auto 100%;
  height: 35px;
  margin: 10px 20px;
  padding-left: 50px;
  line-height: 35px;
}
/*组织结构*/
.seal-orgnazation-tree {
  padding: 20px;
}
.seal-orgnazation-tree li {
  min-height: 25px;
  padding-left: 10px;
}
/*个人中心*/
.seal-account-detail {
  height: 100%;
  background: #fff;
  padding-bottom: 20px;
}
.seal-account-info {
  margin: 20px 100px;
}
.seal-account-info ul {
  margin-top: 50px;
}
.seal-account-info li {
  border-bottom: 1px solid #d8d8d8;
  line-height: 45px;
  font-size: 16px;
  color: #000;
}
.seal-account-info li a {
  float: right;
  color: #09f;
}
.seal-account-avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
.seal-account-avatar span {
  line-height: 65px;
  font-size: 16px;
}
.seal-account-safe a:after,
.seal-account-pravite a:after {
  content: " >";
}
.seal-account-system-msg a {
  margin-top: 7px;
  display: inline-block;
  width: 52px;
  height: 30px;
  border-radius: 20px;
  font-size: 0;
}
.seal-account-system-msg a:before {
  content: " ";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-top: -1px;
}

.seal-account-system-msg a.seal-system-msg-off {
  border: 1px solid #dfdfdf;
}
.seal-account-system-msg a.seal-system-msg-off:before {
  border: 1px solid #dfdfdf;
  margin-left: -1px;
}
.seal-account-system-msg a.seal-system-msg-on {
  border: 1px solid #64bd63;
  background-color: #64bd63;
}
.seal-account-system-msg a.seal-system-msg-on:before {
  border: 1px solid #64bd63;
  background: #fff;
  margin-right: -1px;
  float: right;
}
.seal-signout {
  padding: 0 0 15px;
  border-bottom: 1px solid #d8d8d8;
  position: absolute;
  bottom: 55px;
  left: 100px;
  right: 100px;
}
.seal-signout a {
  color: red;
  font-size: 16px;
}

/* Group */
.seal-group-detail {
  height: 100%;
  background: #fff;
  padding-bottom: 20px;
}

.seal-group-info-box{
  padding: 40px;
  border-bottom: solid 1px orange;
}
.seal-group-info-box .seal-group-photo{
  float: left;
}
.seal-group-info-box .seal-group-photo img{
  width: 55px;
  height: 55px;
  border-radius: 50% 50%;
}
.seal-group-info-box .seal-group-info{
  
}
.seal-group-info-box .seal-group-info span{
  padding: 14px;
  
}
.seal-group-item{
  float: left;
  cursor: pointer;
  padding: 14px;
}
.seal-group-members{
  /*clear: both;*/
}
.seal-group-member-avatar {
  padding-right: 14px;
}
.seal-group-member-avatar img {
  width: 55px;
  height: 55px;
  border-radius: 50% 50%;
}
.seal-group-member-name {
  font-weight: 700;
  color: #000;
}