.rong-nav-tab a, .rong-nav-tab em{
  cursor:pointer;
  background-image: url(https://fsprodrcx.cn.ronghub.com/EwVyQxMHc3D8tnJDEwVyQxOsal0TBVXVfmABMHJiFw/base64.png);
  background-size: 88px auto;
  width: 32px;
  height: 32px;
}
.rong-nav-conversation a{
  background-position: 0 0;
}

.rong-nav-conversation em, .rong-nav-conversation em:hover, .rong-nav-conversation a:hover{
  background-position: -53px 0px;
}

.rong-nav-contact a {
    background-position: 0px -32px;
}

.rong-nav-contact em, .rong-nav-contact em:hover, .rong-nav-contact a:hover {
  background-position: -53px -32px;
}

.rong-nav{
  background: #1BA3FC;
}

.rong-nav-collect, .rong-nav-work, .rong-nav-setting{
  display: none;
}
.rong-list{
  background: #F4F8FC;
}
.rong-conversation-editor, .rong-contact-content, .rong-contact-title, .rong-conversation-content, .rong-conversation-hd{
  background: #F4F8FC;
}