<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Display</title>
	<style>
		.main{
			width: 300px;
			height: 100px;
			background-color: #DEDEDE;
		}
		.avatar{
			height: 100px;
			width: 100px;
			background-color: #911111;
			float: left;
		}
		.info{
			height: 100px;
			display: table-cell;
			vertical-align: middle;
			padding-left: 10px;
		}
		.name{
			background-color: #875837;		
		}
		.phone{
			background-color: #888;
			margin-top: 30px;
		}
	</style>
</head>
<body>
	<div class="main">
		<div class="avatar"></div>
		<div class="info">
			<div class="name">Martin</div>
			<div class="phone">13269772769</div>
		</div>
	</div>
</body>
</html>