<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>Main</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="container">
		<div class="list-range">
			<div class="sidebar">
				<div class="avatar">
					<img src="http://oojs2ztoq.bkt.clouddn.com/0f765644a3e2f37dfba49e412b89ff61.jpg">
				</div>
				<div class="status">
					<i></i>
					<a href="">在线</a>
				</div>
				<div class="message"></div>
				<div class="concat"></div>
				<div class="setting"></div>
			</div>
			<div class="conversation-box">
				<div class="search-box">
					<div class="search-add"></div>
					<div class="search-main">
						<i search-icon></i>
						<input type="text" class="search-input" placeholder="请输入">
					</div>
				</div>
				<div class="list">
					<div class="conversation-item">
						<div class="avatar">
							<img src="https://rongcloud-image.cn.ronghub.com/11b5634363a0d64375.gif?e=2147483647&token=livk5rb3__JZjCtEiMxXpQ8QscLxbNLehwhHySnX:KXWfwD_8iNCsvyOtDFjviEMVAZI=" alt="">
						</div>
						<div class="conversation-mian">
							<div class="title">Martin</div>
							<div class="time">9:30</div>
							<div class="content">有点饿了</div>
							<div class="bar">免打扰</div>
						</div>
					</div>

					<div class="conversation-item">
						<div class="avatar">
							<img src="http://oojs2ztoq.bkt.clouddn.com/MSMt6Ck7hDi7ooVc73KxPg1496276686967387939" alt="">
						</div>
						<div class="conversation-mian">
							<div class="title">Tester</div>
							<div class="time">10:30</div>
							<div class="content">工单已回复</div>
							<div class="bar"></div>
						</div>
					</div>

					<div class="conversation-item">
						<div class="avatar">
							<img src="http://oojs2ztoq.bkt.clouddn.com/DoMF77QdTGQnm57vx25ZWT1495012275857969971" alt="">
						</div>
						<div class="conversation-mian">
							<div class="title">RCE</div>
							<div class="time">11:55</div>
							<div class="content">走了</div>
							<div class="bar">免打扰</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="conversation">
			<div class="header">
				<div class="info">
					<div class="avatar">
						<img src="http://oojs2ztoq.bkt.clouddn.com/0f765644a3e2f37dfba49e412b89ff61.jpg">
					</div>
				</div>
			</div>
			<div class="message-box">
				
			</div>
			<div class="input-box"></div>
		</div>
	</div>
</body>
</html>