<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>WS-Demo</title>
<script src="https://cdn.ronghub.com/RongIMLib-2.2.4.min.js"></script>
<style type="text/css">
  body {
    font-size: 13px;
    background-color: black;
    color: white;
  }

  #content {
    float: left;
    border-right: 1px solid white;
    margin-right: 20px;
    padding-right: 20px;
  }
</style>


</head>

<body height="600px" width="600px">
  <input type="button" name="name" value="Clear" id="clearId"> 
  <hr/>
  <div id="content"></div>
  <script type="text/javascript">
    var cotent = document.getElementById('content');

    function consoleInfo(str) {
      cotent.innerHTML += str + "<br/>";
    }

    document.onreadystatechange = function(){
       console.log(document.readyState);
    };

    init();

    document.getElementById('clearId').onclick = function() {
      cotent.innerHTML = "";
    }

    function init() {
      consoleInfo("init - executed");
      RongIMClient.init("8luwapkvucoil");
      var token = "hsYEW1+K1JHASMHGUrJJJLrkPG6U/xPk3zvPIWf9le1hEGTTL55/U3+F/iaeDmXmOvEHh5CgU1f6tiN2qQZgBQ==";

      RongIMClient.setConnectionStatusListener({
        onChanged: function(status) {
          switch (status) {
            case RongIMLib.ConnectionStatus.CONNECTED:
              consoleInfo("链接成功!");
              break;
            case RongIMLib.ConnectionStatus.CONNECTING:
              consoleInfo("正在链接!");
              break;
              //重新链接
            case RongIMLib.ConnectionStatus.RECONNECT:
              consoleInfo("重新链接!");
              break;
            case RongIMLib.ConnectionStatus.OTHER_DEVICE_LOGIN:
              consoleInfo("其他设备登录!");
              break;
            case RongIMLib.ConnectionStatus.CLOSURE:
              consoleInfo("连接关闭!");
              break;
            case RongIMLib.ConnectionStatus.DISCONNECTED:
              consoleInfo("连接断开!");
              break;
            case RongIMLib.ConnectionStatus.LOGOUT:
              //用户已被封禁
            case RongIMLib.ConnectionStatus.BLOCK:
              break;
            case RongIMLib.ConnectionStatus.NETWORK_UNAVAILABLE:
              consoleInfo('网络不可用');
              break;
          }
        }
      });
      RongIMClient.setOnReceiveMessageListener({
        onReceived: function(message) {
            consoleInfo('------华丽分割线------');
            consoleInfo(JSON.stringify(message));
        }
      });
      RongIMClient.connect(token, {
        onSuccess: function(userId) {
          consoleInfo("Login successfully." + userId);
        },
        onTokenIncorrect: function() {
          consoleInfo('token无效');
        },
        onError:function(errorCode){
              var info = '';
              switch (errorCode) {
                case RongIMLib.ErrorCode.TIMEOUT:
                  info = '超时';
                  break;
                case RongIMLib.ErrorCode.UNKNOWN_ERROR:
                  info = '未知错误';
                  break;
                case RongIMLib.ErrorCode.UNACCEPTABLE_PaROTOCOL_VERSION:
                  info = '不可接受的协议版本';
                  break;
                case RongIMLib.ErrorCode.IDENTIFIER_REJECTED:
                  info = 'appkey不正确';
                  break;
                case RongIMLib.ErrorCode.SERVER_UNAVAILABLE:
                  info = '服务器不可用';
                  break;
                case RongIMLib.ErrorCode.TOKEN_INCORRECT:
                  info = 'token无效';
                  break;
              }
              consoleInfo(errorCode);
            }
      });
    }
  </script>
</body>

</html>
