<script id="RongIM-templte-button" type="RongIM/templte">
	<!--#include file="button.html"-->
</script>

<script id="RongIM-templte-main" type="RongIM/templte">
	<!--#include file="main.html"-->
</script>

<script id="RongIM-templte-conversation" type="RongIM/templte">
	<!--#include file="conversation.html"-->
</script>

<script id="RongIM-templte-chat" type="RongIM/templte">
	<!--#include file="chat.html"-->
</script>

<script id="RongIM-templte-message" type="RongIM/templte">
	<!--#include file="message.html"-->
</script>

<script id="RongIM-templte-message-template" type="RongIM/templte">
	<!--#include file="messageTemplate.html"-->
</script>


<script id="RongIM-templte-closebefore" type="RongIM/templte">
	<!--#include file="closebefore.html"-->
</script>

<script id="RongIM-templte-endconversation" type="RongIM/templte">
	<!--#include file="endconversation.html"-->
</script>

<script id="RongIM-templte-evaluate" type="RongIM/templte">
	<!--#include file="evaluate.html"-->
</script>

<script id="RongIM-templte-leaveword" type="RongIM/templte">
	<!--#include file="leaveword.html"-->
</script>

<script id="RongIM-templte-imageView" type="RongIM/templte">
	<!--#include file="imageView.html"-->
</script>

<script id="RongIM-templte-userInfo" type="RongIM/templte">
	<!--#include file="userInfo.html"-->
</script>