<div class="site-main">
	<div class="header-nav">
		<ul>
			<li>
				<a class="header-logo" href=""></a>
			</li>
			<li>
				<a class="header-snatch nav-item" href=""></a>
			</li>
			<li class="nav-item">
				<a href="">小米手机</a>
			</li>
			<li class="nav-item">
				<a href="">红米</a>
			</li>
			<li class="nav-item">
				<a href="">平板·笔记本</a>
			</li>
			<li class="nav-item">
				<a href="">电视</a>
			</li>
			<li class="nav-item">
				<a href="">盒子·影音</a>
			</li>
			<li class="nav-item">
				<a href="">路由器</a>
			</li>
		</ul>
		<div class="header-search">
			<input type="text" class="header-sr-input">
			<i class="header-sr-btn iconfont">&#xe60d;</i>
		</div>
	</div>

	<div class="goods-nav">
		<div class="category">
			<ul>
				<li class="category-item">
					<span>手机 电话卡</span> 
					<i class="iconfont">&#xe60c;</i>
				</li>
				<li class="category-item">
					<span>笔记本 平板</span> 
					<i class="iconfont">&#xe60c;</i>
				</li>
				<li class="category-item">
					<span>电视 盒子</span> 
					<i class="iconfont">&#xe60c;</i>
				</li>
				<li class="category-item">
					<span>路由器 智能硬件</span> 
					<i class="iconfont">&#xe60c;</i>
				</li>
				<li class="category-item">
					<span>耳机 音响</span> 
					<i class="iconfont">&#xe60c;</i>
				</li>
				<li class="category-item">
					<span>保护套 贴膜</span> 
					<i class="iconfont">&#xe60c;</i>
				</li>
			</ul>
		</div>
		<div class="header-slider">
			<div class="ui-prev iconfont">&#xe61d;</div>
			<div class="ui-next iconfont">&#xe62e;</div>
			<img class="silder-panel" src="css/images/silder-01.jpg" alt="">
		</div>
		<div class="goods-item" style="display: none;">
			<ul class="detail">
				<li>
					<img  class="goods-icon" src="css/images/xmNOTE2-140.jpg">
					<span class="goods-name">小米6</span>
					<span class="goods-btn">选购</span>
				</li>

				<li>
					<img  class="goods-icon" src="css/images/xmNOTE2-140.jpg">
					<span class="goods-name">小米6</span>
					<span class="goods-btn">选购</span>
				</li>

				<li>
					<img  class="goods-icon" src="css/images/xmNOTE2-140.jpg">
					<span class="goods-name">小米6</span>
					<span class="goods-btn">选购</span>
				</li>

				<li>
					<img  class="goods-icon" src="css/images/xmNOTE2-140.jpg">
					<span class="goods-name">小米6</span>
					<span class="goods-btn">选购</span>
				</li>

				<li>
					<img  class="goods-icon" src="css/images/xmNOTE2-140.jpg">
					<span class="goods-name">小米6</span>
					<span class="goods-btn">选购</span>
				</li>

				<li>
					<img  class="goods-icon" src="css/images/xmNOTE2-140.jpg">
					<span class="goods-name">小米6</span>
					<span class="goods-btn">选购</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="home-hero-sub">
		<div class="channel-box">
			<ul>
				<li class="exposure">
					<a href="">
						<i class="iconfont icon-btn">&#xe637;</i>
						选购手机
					</a>
				</li>

				<li class="exposure left">
					<a href="">
						<i class="iconfont icon-btn">&#xe614;</i>
						企业团购
					</a>
				</li>

				<li class="exposure left">
					<a href="">
						<i class="iconfont icon-btn">&#xe60e;</i>
						F码通道
					</a>
				</li>
				<li class="exposure top">
					<a href="">
						<i class="iconfont icon-btn">&#xe77c;</i>
						米粉卡
					</a>
				</li>
				<li class="exposure top left">
					<a href="">
						<i class="iconfont icon-btn">&#xe676;</i>
						依旧换新
					</a>
				</li>
				<li class="exposure top left">
					<a href="">
						<i class="iconfont icon-btn">&#xe60b;</i>
						话费充值
					</a>
				</li>
			</ul>
		</div>

		<div class="homepromo">
			<ul class="promo-list">
				<li class="first">
					<a href="" class="exposure-item">
						<img src="css/images/xmad_14896582916027_isKTx.jpg">
					</a>
				</li>
				<li class="second">
					<a href="" class="exposure-item">
						<img src="css/images/xmad_14993366456781_FlzhI.jpg">
					</a>
				</li>
				<li class="last">
					<a href="" class="exposure-item">
						<img src="css/images/xmad_15033956821565_ubBag.jpg">
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="home-star-goods">
		<div class="box-hd">
			<h2 class="title">小米明星单品</h2>
			<div class="more">
				<a href="" class="iconfont pre">&#xe62d;</a>
				<a href="" class="iconfont next">&#xe6c1;</a>
			</div>
		</div>
		<div class="xm-carousel-wrapper">
			<ul>
				<li class="carousel-item1">
					<img class="carousel-goods" src="//i1.mifile.cn/a4/xmad_14966625823457_RclIL.png 2x">
					<h3 class="title">红米4X</h3>
					<p class="desc">4100mAh超长续航，8 核处理器</p>
					<a href="" class="price">699元起</a>
				</li>
				<li class="carousel-item2">
					<img class="carousel-goods" src="//i1.mifile.cn/a4/xmad_15023585670501_ylohS.png 2x">
					<h3 class="title">贝医生巴氏牙刷(四色装)</h3>
					<p class="desc">德日进口刷毛，专利科学布局</p>
					<a href="" class="price">39.9元</a>
				</li>
				<li class="carousel-item3">
					<img class="carousel-goods" src="//i1.mifile.cn/a4/xmad_14894013451119_CiBVP.png 2x">
					<h3 class="title">红米Note 4X</h3>
					<p class="desc">4100mAh超长续航，多彩金属</p>
					<a href="" class="price">999元起</a>
				</li>
				<li class="carousel-item4">
					<img class="carousel-goods" src="//i1.mifile.cn/a4/6ef55907-bbed-49be-a2bb-be0821b5f7b8">
					<h3 class="title">小米手环 2</h3>
					<p class="desc">OLED 显示屏幕，升级计步算法</p>
					<a href="" class="price">699元起</a>
				</li>
				<li class="carousel-item5">
					<img class="carousel-goods" src="//i1.mifile.cn/a1/pms_1490077058.71391368!220x220.png">
					<h3 class="title">小米电视4A 43英寸</h3>
					<p class="desc">享小米分期12期免息</p>
					<a href="" class="price">1999元</a>
				</li>
			</ul>
		</div>
	</div>
</div>