<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Semantic</title>
	<link rel="stylesheet" type="text/css" href="semantic.css">
	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="semantic.js"></script>
	
</head>
<body>
	<div class="ui toggle checkbox">
	  <input type="checkbox" name="public">
	  <label>Subscribe to weekly newsletter</label>
	</div>



	<a class="anchor" id="toggle"></a>
      <div class="ui toggle checkbox">
        <input type="checkbox" name="public" tabindex="0">
        <label>Subscribe to weekly newsletter</label>
      </div>
</body>
</html>