<div class="site-topbar">
	<div class="bn-bar"></div>
	<div class="container">
		<div class="topbar-nav">
			<ul class="nav ul-style">
				<li class="nav-item li-style first-item"><a href="" class="link-style">小米商城</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">MIUI</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">米聊</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">游戏</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">多看阅读</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">云服务</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">金融</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">米币</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">小米商城手机版</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">问题反馈</a></li>
				<li class="nav-item li-style"><a href="" class="link-style">Select Region</a></li>
			</ul>
		</div>
		<div class="topbar-cart">
			<a class="link-style" href="">
				<i class="iconfont">&#xe600;</i>
				购物车( 0 )
			</a>
		</div>
		<div class="topbar-info">
			<ul class="info ul-style">
				<li class="info-item li-style"><a class="link-style" href="">登陆</a></li>
				<li class="info-item li-style"><a class="link-style" href="">注册</a></li>
				<li class="info-item li-style"><a class="link-style" href="">消息通知</a></li>
			</ul>
		</div>
	</div>
	
	<div class="site-header centering">
		<div class="header-logo">
			<a href="" class="link-style logo"></a>
			<a href="" class="link-style goods">
				<img src="css/images/yiyuanyingbijiben.gif" alt="">
			</a>
		</div>
		<div class="header-search">
			<div class="seach-box">
				<input type="text" class="input-box">
				<a href="" class="link-style iconfont search-btn">&#xe60d;</a>
			</div>
		</div>

		<div class="header-navbar">
			<ul class="ul-style navbar-box">
				<li class="navbar-item li-style"><a href="" class="link-style">小米手机</a></li>
				<li class="navbar-item li-style"><a href="" class="link-style">红米</a></li>
				<li class="navbar-item li-style"><a href="" class="link-style">平板 · 笔记本</a></li>
				<li class="navbar-item li-style"><a href="" class="link-style">路由器</a></li>
				<li class="navbar-item li-style"><a href="" class="link-style">智能硬件</a></li>
				<li class="navbar-item li-style"><a href="" class="link-style">服务</a></li>
				<li class="navbar-item li-style"><a href="" class="link-style">社区</a></li>
			</ul>
		</div>
	</div>

	<div class="site-category centering">
		<div class="category-box">
			<ul class="ul-style category-list">
				<li class="category-item li-style"><a href="" class="link-style">手机 电话卡<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">笔记本 平板<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">电视 盒子<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">路由器 智能硬件<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">移动电源 电池<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">耳机 音响<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">保护套 贴膜<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">线材 支架<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">箱包<i class="iconfont">&#xe60c;</i></a></li>
				<li class="category-item li-style"><a href="" class="link-style">米兔 生活周边<i class="iconfont">&#xe60c;</i></a></li>
			</ul>
		</div>
		<div class="category-carousel"></div>
	</div>

	<div class="home-hero-sub centering">
		<div class="home-channel">
			<ul class="home-channel-list ul-style">
				<li class="li-style home-channel-item">
					<i class="iconfont">&#xe637;</i>选购手机
				</li>
				<li class="li-style home-channel-item">
					<i class="iconfont">&#xe662;</i>企业团购
				</li>
				<li class="li-style home-channel-item">
					<i class="iconfont">&#xe60e;</i>F码通道
				</li>
				<li class="li-style home-channel-item">
					<i class="iconfont">&#xe77c;</i>米粉卡卷
				</li>
				<li class="li-style home-channel-item">
					<i class="iconfont">&#xe676;</i>以旧换新
				</li>
				<li class="li-style home-channel-item">
					<i class="iconfont">&#xe60b;</i>话费充值
				</li>
			</ul>
		</div>
		<div class="home-promo">
			<ul class="home-promo-list ul-style">
				<li class="li-style home-promo-item"><img src="//i1.mifile.cn/a4/xmad_15029658929335_hwMRa.jpg" alt=""></li>
				<li class="li-style home-promo-item"><img src="//i1.mifile.cn/a4/xmad_15032076478933_zWHYj.jpg" alt=""></li>
				<li class="li-style home-promo-item"><img src="//i1.mifile.cn/a4/xmad_15041689984823_YclCV.jpg" alt=""></li>
			</ul>
		</div>
	</div>
</div>