<div class="star-goods centering">
	<h2 class="title">小米明星单品</h2>
	<div class="more">
		<a href="" class="link-style pre"><i class="iconfont">&#xe62d;</i></a>
		<a href="" class="link-style next"><i class="iconfont">&#xe6c1;</i></a>
	</div>
</div>

<div class="star-goods-roll centering">
	<ul class="ul-style star-goods-list">
		<li class="li-style star-goods-item item1">
			<a href="" class="link-style goods-info">
				<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="">
			</a>
			<p class="title">贝医生巴氏牙刷(四色装)</p>
			<p class="desc">德日进口刷毛，专利科学布局</p>
			<p class="price">39.9 元</p>
		</li>
		<li class="li-style star-goods-item item2">
			<a href="" class="link-style goods-info">
				<img src="//i1.mifile.cn/a4/xmad_14930230036147_vfLxm.png" alt="">
			</a>
			<p class="title">小米5c 64GB 移动版</p>
			<p class="desc">直降200元，轻薄金属机身</p>
			<p class="price">1299元</p>
		</li>
		<li class="li-style star-goods-item item3">
			<a href="" class="link-style goods-info">
				<img src="//i1.mifile.cn/a4/6ef55907-bbed-49be-a2bb-be0821b5f7b8" alt="">
			</a>
			<p class="title">小米手环 2</p>
			<p class="desc">OLED 显示屏幕，升级计步算法</p>
			<p class="price">149 元</p>
		</li>
		<li class="li-style star-goods-item item4">
			<a href="" class="link-style goods-info">
				<img src="//i1.mifile.cn/a4/de35852a-1be5-4ef5-846f-dcdd2efcfea6" alt="">
			</a>
			<p class="title">小米路由器3</p>
			<p class="desc">更轻更薄，像杂志一样随身携带</p>
			<p class="price">149 元</p>
		</li>
		<li class="li-style star-goods-item item5">
			<a href="" class="link-style goods-info">
				<img src="//i1.mifile.cn/a4/de35852a-1be5-4ef5-846f-dcdd2efcfea6" alt="">
			</a>
			<p class="title">小米路由器3</p>
			<p class="desc">更轻更薄，像杂志一样随身携带</p>
			<p class="price">149 元</p>
		</li>
	</ul>
</div>

<div class="home-main">
	<div class="home-app-title centering">
		<div class="name">家电</div>
		<div class="nav">
			<ul class="ul-style app-list">
				<li class="li-style app-item">
					<a href="" class="link-style">热门</a>
				</li>
				<li class="li-style app-item">
					<a href="" class="link-style">电视影音</a>
				</li>
				<li class="li-style app-item">
					<a href="" class="link-style">电脑</a>
				</li>
				<li class="li-style app-item">
					<a href="" class="link-style">家居</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="home-goods-box centering">
		<ul class="ul-style home-goods-list">
			<li class="li-style home-goods-item">
				<img class="brick-l" src="//i1.mifile.cn/a4/xmad_14950222431232_Twnyl.jpg" alt="">
			</li>
			<li class="li-style home-goods-item">
				<ul class="ul-style">
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1490077454.46128587!220x220.png" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">2399 元</p>
					</li>
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1495074010.05677255!220x220.jpg" alt="">
						<p class="title">小米电视4 55英寸</p>
						<p class="desc"> 4.9mm极超薄机身／4K高清HDR</p>
						<p class="price">4499 元</p>
					</li>
				</ul>
			</li>
			<li class="li-style home-goods-item">
				<ul class="ul-style">
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1499138177.54329452!220x220.jpg" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">2399 元</p>
					</li>
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1490604824.19051012!220x220.jpg" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">5399 元</p>
					</li>
				</ul>
			</li>
			<li class="li-style home-goods-item">
				<ul class="ul-style">
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1472609961.95298675!220x220.jpg" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">2099 元</p>
					</li>
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1488338229.6467773!220x220.jpg" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">2899 元</p>
					</li>
				</ul>
			</li>
			<li class="li-style home-goods-item">
				<ul class="ul-style">
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1465366178.11466342!220x220.jpg" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">3399 元</p>
					</li>
					<li class="li-style">
						<img src="//i1.mifile.cn/a1/pms_1490604824.19051012!220x220.jpg" alt="">
						<p class="title">小米电视4A 49 标准版</p>
						<p class="desc"> 2GB+8GB 大储存／全高清HDR</p>
						<p class="price">8399 元</p>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>