<div class="site-footer">
	<div class="service-box box-wh row">
		<div class="container">
			<ul class="service-list">
				<li class="service-item iconfont"><a href="#">预约维修服务</a></li>
				<li class="service-item iconfont"><a href="#">七天无理由退货</a></li>
				<li class="service-item iconfont"><a href="#">15天免费退货</a></li>
				<li class="service-item iconfont"><a href="#">满150包邮</a></li>
				<li class="service-item iconfont"><a href="#">520余家售后网点</a></li>
			</ul>
		</div>
		<div class="site-link-box">
			<ul class="site-link-list">
				<li class="site-link-item">
					<a href="">帮助中心</a>
				</li>
				<li class="site-link-item">
					<a href="">账户管理</a>
				</li>
				<li class="site-link-item">
					<a href="">购物指南</a>
				</li>
				<li class="site-link-item">
					<a href="">订单操作</a>
				</li>
			</ul>

			<ul class="site-link-list">
				<li class="site-link-item">
					<a href="">帮助中心</a>
				</li>
				<li class="site-link-item">
					<a href="">账户管理</a>
				</li>
				<li class="site-link-item">
					<a href="">购物指南</a>
				</li>
				<li class="site-link-item">
					<a href="">订单操作</a>
				</li>
			</ul>


			<ul class="site-link-list">
				<li class="site-link-item">
					<a href="">帮助中心</a>
				</li>
				<li class="site-link-item">
					<a href="">账户管理</a>
				</li>
				<li class="site-link-item">
					<a href="">购物指南</a>
				</li>
				<li class="site-link-item">
					<a href="">订单操作</a>
				</li>
			</ul>

			<ul class="site-link-list">
				<li class="site-link-item">
					<a href="">帮助中心</a>
				</li>
				<li class="site-link-item">
					<a href="">账户管理</a>
				</li>
				<li class="site-link-item">
					<a href="">购物指南</a>
				</li>
				<li class="site-link-item">
					<a href="">订单操作</a>
				</li>
			</ul>

			<ul class="site-link-list">
				<li class="site-link-item">
					<a href="">帮助中心</a>
				</li>
				<li class="site-link-item">
					<a href="">账户管理</a>
				</li>
				<li class="site-link-item">
					<a href="">购物指南</a>
				</li>
				<li class="site-link-item">
					<a href="">订单操作</a>
				</li>
			</ul>

			<ul class="site-link-list">
				<li class="site-link-item">
					<a href="">帮助中心</a>
				</li>
				<li class="site-link-item">
					<a href="">账户管理</a>
				</li>
				<li class="site-link-item">
					<a href="">购物指南</a>
				</li>
				<li class="site-link-item">
					<a href="">订单操作</a>
				</li>
			</ul>

			<ul class="site-link-list">
				<li class="site-link-item phone">
					400-100-5678
				</li>
				<li class="site-link-item">
					周一至周日 8:00-18:00
				</li>
				<li class="site-link-item">
					（仅收市话费）
				</li>
				<li class="site-link-item">
					<a href="">24 小时在线客服</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="site-info">
		<div class="slogan"></div>
	</div>
</div>