<div class="header-bn-bar"></div>
<div class="header-topbar">
	<div class="topbar-nav-box col">
		<ul class="topbar-nav-list">
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">小米商城</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">MIUI</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">米聊</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">游戏</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">多看阅读</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="＃">云服务</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">金融</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">米币</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">小米商城手机版</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">问题反馈</a></li>
			<li class="topbar-nav-item header-row-nav iconfont split-line"><a href="#">Select Region</a></li>
		</ul>
	</div>
	<div class="topbar-car">
		<a class="iconfont topbar-car-btn" href="#">购物车（0）</a>
	</div>
	<div class="topbar-info">
		<ul class="topbar-info-list">
			<li class="topbar-info-item iconfont split-line">
				<a href="#">登陆</a>
			</li>
			<li class="topbar-info-item iconfont split-line">
				<a href="#">注册</a>
			</li>
			<li class="topbar-info-item iconfont split-line">
				<a href="#">消息通知</a>
			</li>
		</ul>
	</div>
</div>
<div class="header-nav box-wh row">
	<div class="header-logo col">
		<a href="#" class="logo">
			<img src="css/images/mi-logo.png" alt="logo">
		</a>
		<a href="#" >
			<img src="css/images/yiyuanyingbijiben.gif" alt="show">
		</a>
	</div>
	<div class="header-nav-box col">
		<ul class="header-nav-list">
			<li class="header-nav-item"><a href="#" class="iconfont">小米手机</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">红米</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">平板 · 笔记本</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">电视</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">盒子 · 影音</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">路由器</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">智能硬件</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">服务</a></li>
			<li class="header-nav-item"><a href="#" class="iconfont">社区</a></li>
		</ul>
	</div>
	<div class="header-search col">
		<input type="text" class="header-search-input">
		<a href="#"><i class="iconfont"></i></a>
	</div>
</div>
<div class="header-category box-wh row">
	<div class="header-category-box">
		<ul class="header-category-list">
				<li class="header-category-item iconfont"><a href="#">手机 电话卡</a></li>
				<li class="header-category-item iconfont"><a href="#">笔记本 平板</a></li>
				<li class="header-category-item iconfont"><a href="#">电视 盒子</a></li>
				<li class="header-category-item iconfont"><a href="#">路由器 智能硬件</a></li>
				<li class="header-category-item iconfont"><a href="#">移动电源 电池</a></li>
				<li class="header-category-item iconfont"><a href="#">耳机 音响</a></li>
				<li class="header-category-item iconfont"><a href="#">保护套 贴膜</a></li>
				<li class="header-category-item iconfont"><a href="#">线材 支架</a></li>
				<li class="header-category-item iconfont"><a href="#">箱包</a></li>
				<li class="header-category-item iconfont"><a href="#">米兔 生活周边</a></li>
			</ul>
	</div>
	<div class="header-category-carousel">
		<img src="http://i1.mifile.cn/a4/xmad_15050173763528_ngpcT.jpg" alt="2.0">
	</div>
</div>
<div class="header-recommend box-wh row">
	<ul class="header-recommend-list">
		<li class="header-recommend-item">
			<ul class="home-channel-list">
				<li class="home-channel-item">
					<a href="#"><i class="iconfont phone"></i>选购手机</a>
				</li>
				<li class="home-channel-item">
					<a href="#"><i class="iconfont tuangou"></i>企业团购</a>
				</li>
				<li class="home-channel-item">
					<a href="#"><i class="iconfont fma"></i>F码通道</a>
				</li>
				<li class="home-channel-item">
					<a href="#"><i class="iconfont mifen"></i>米粉卡</a>
				</li>
				<li class="home-channel-item">
					<a href="#"><i class="iconfont new"></i>以旧换新</a>
				</li>
				<li class="home-channel-item">
					<a href="#"><i class="iconfont chongzhi"></i>话费充值</a>
				</li>
			</ul>
		</li>
		<li class="header-recommend-item">
			<img src="//i1.mifile.cn/a4/xmad_14993367479701_kbMcI.jpg" alt="Note2">
		</li>
		<li class="header-recommend-item">
			<img src="//i1.mifile.cn/a4/xmad_15045998407849_UqwPx.jpg" alt="Note3">
		</li>
		<li class="header-recommend-item">
			<img src="//i1.mifile.cn/a4/xmad_15047998995163_Kwclu.jpg" alt="红米">
		</li>
	</ul>
</div>
<div class="star-goods box-wh row">
	<div class="row-nav">
		<p class="row-nav-title">小米明星单品</p>
		<div class="row-nav-box">
			<ul class="row-nav-list">
				<li class="row-nav-item">
					<i class="pre iconfont">&#xe62d;</i>
				</li>
				<li class="row-nav-item">
					<i class="next iconfont">&#xe6c1;</i>
				</li>
			</ul>
		</div>
	</div>
	<ul class="goods-nav-list star-goods-list">
		<li class="goods-nav-item">
			<ul class="goods-info-list">
				<li class="goods-info-item sample">
					<a href="" class="link-style goods-info">
						<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
					</a>
				</li>
				<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
				<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
				<li class="goods-info-item price">39.9 元</li>
			</ul>
		</li>

		<li class="goods-nav-item">
			<ul class="goods-info-list">
				<li class="goods-info-item sample">
					<a href="" class="link-style goods-info">
						<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
					</a>
				</li>
				<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
				<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
				<li class="goods-info-item price">39.9 元</li>
			</ul>
		</li>

		<li class="goods-nav-item">
			<ul class="goods-info-list">
				<li class="goods-info-item sample">
					<a href="" class="link-style goods-info">
						<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
					</a>
				</li>
				<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
				<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
				<li class="goods-info-item price">39.9 元</li>
			</ul>
		</li>

		<li class="goods-nav-item">
			<ul class="goods-info-list">
				<li class="goods-info-item sample">
					<a href="" class="link-style goods-info">
						<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
					</a>
				</li>
				<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
				<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
				<li class="goods-info-item price">39.9 元</li>
			</ul>
		</li>

		<li class="goods-nav-item">
			<ul class="goods-info-list">
				<li class="goods-info-item sample">
					<a href="" class="link-style goods-info">
						<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
					</a>
				</li>
				<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
				<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
				<li class="goods-info-item price">39.9 元</li>
			</ul>
		</li>

		
	</ul>
</div>