<div class="home-main box-wh row">
	<div class="row-nav">
		<p class="row-nav-title">家电</p>
		<div class="row-nav-box">
			<ul class="row-nav-list household-nav-list">
				<li class="row-nav-item household-nav-item">热门</li>
				<li class="row-nav-item household-nav-item">电视影音</li>
				<li class="row-nav-item household-nav-item">电脑</li>
				<li class="row-nav-item household-nav-item">家居</li>
			</ul>
		</div>
	</div>

	<div class="household-app-box">
		<div class="household-left-nav">
			<img src="//i1.mifile.cn/a4/1695c18e-8a6b-4bc9-9796-d5abad413184" alt="扫地机器人">
		</div>
		<div class="household-goods-box">
			<ul class="goods-nav-list household-app-list">
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15030636132779_UImNJ.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a1/pms_1495074010.05677255!220x220.jpg" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
				<li class="goods-nav-item household-app-item">
					<ul class="goods-info-list">
						<li class="goods-info-item sample">
							<a href="" class="link-style goods-info">
								<img src="//i1.mifile.cn/a4/xmad_15023585612783_DIKjh.png" alt="贝医生巴氏牙刷">
							</a>
						</li>
						<li class="goods-info-item name">贝医生巴氏牙刷(四色装)</li>
						<li class="goods-info-item desc">德日进口刷毛，专利科学布局</li>
						<li class="goods-info-item price">39.9 元</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>