html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.api-box{
	height: 100%;
	width: 40%;
	float: left;
	box-shadow: 1px 1px 10px #FF6700;
}

.api-box-btns{
	height: 200px;
}

#api-log-box{
	overflow-y: auto;
	height: 100%;
	box-shadow: -1px 1px 10px #ccc;
}

.log-box{
	margin-left: 40%;
}
.input-content{
	border: 1px solid #DEDEDE;
	background-image: none;
	outline: none;
}
.input-token{
	width: 90%;
}
input{
	margin: 10px 0px 10px 10px;
}
.string-font, .object-font, .number-font, .undefined-font{
	color: green;
	line-height: 18px;
}
.number-font{
	color: #1D1BC8;
}
.clear-result{
	position: absolute;
    right: 30px;
    top: -6px;
    font-size: 20px;
    background: #FFF;
    color: #FF6700;
    border: navajowhite;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
}
.clear-result:hover{
	transition: all 0.5s;
	background: #FF6700;
	color: #FFF;
	border: 1px solid;
}

.log-title{
    background-color: #FF6700;
    margin: 0;
    height: 20px;
    font-size: 16px;
    color: #FFF;
    border-radius: 6px 6px 0 0;
}
pre{
	border: 1px solid #FF6700;
    margin-top: 0px;
}